.pageContainer {
  margin-top: 9.313rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 0 0 49.625rem;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: var(--z);
}